.main {
    background: url('../img/ca.png') center;
    background-size: cover;
}


/* MAIN SECTION */

.holder {
    min-height: 100%;
    max-width: 75%;
}

#homeheader {
    position: absolute;
    top: 40%;
    color: white;
    padding-left: 15px;
}


/* Testimonials */

.testimonial {
    margin-right: 23%;
    margin-left: 23%;
}

.testimonial .avatar img {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    max-width: 170px;
    display: unset !important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.testi-container {
    background: black;
}

.testi-container hr {
    border-top: 1px solid rgba(255, 255, 255, 0.38);
}

.testimonial p {
    color: #faebd7e3;
}

.testimonial h4 {
    color: #ffa10c;
}

.testimonial h6 {
    color: #f6a13c70;
}