.main {
    background: url('../img/ca.png') center;
    background-size: cover;
}

h1#cs {
    position: absolute;
    bottom: 2%;
    left: 34%;
    color: #ffffff;
    overflow: hidden;
    border-right: 0.05em solid #ececec;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: blink-caret .75s step-end infinite;
}


/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 38%
    }
}


/* The typewriter cursor effect */

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }
}


/* MAIN SECTION */

.holder {
    min-height: 100%;
    max-width: 75%;
}

#homeheader {
    position: absolute;
    top: 40%;
    color: white;
    padding-left: 15px;
}


/* Testimonials */

.testimonial {
    margin-right: 23%;
    margin-left: 23%;
}

.testimonial .avatar img {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    max-width: 170px;
    display: unset !important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.testi-container {
    background: black;
}

.testi-container hr {
    border-top: 1px solid rgba(255, 255, 255, 0.38);
}

.testimonial p {
    color: #faebd7e3;
}

.testimonial h4 {
    color: #ffa10c;
}

.testimonial h6 {
    color: #f6a13c70;
}