.main {
    background: url('../img/food.jpg') center;
    background-size: cover;
    max-height: 60% !important;
    min-height: 60% !important;
}


/* MAIN SECTION */

.holder {
    min-height: 60%;
    max-width: 50%;
}

#homeheader {
    position: absolute;
    top: 40%;
    color: white;
    padding-left: 15px;
}

.homesvg {
    transform: translate(0%, 5%);
}

.comparison {
    background: black;
}

.comparison hr {
    border-top: 1px solid rgba(255, 255, 255, 0.38);
}

.table {
    margin: auto;
    width: 80%;
}

th {
    width: 5%;
    text-align: center;
}

th:nth-child(1) {
    width: 60%
}

td {
    text-align: center;
}

td:nth-child(1) {
    text-align: left;
}

.check {
    width: 20px;
    height: 10px;
    border-left: 1px solid #f6a13c70;
    border-bottom: 1px solid #f6a13c70;
    transform: rotate(-45deg);
    margin: auto;
}

.table td,
.table th {
    border-top: unset;
}

.table thead th {
    border-bottom: 1px solid #191a1b;
    color: #ffa10c;
    font-weight: bolder;
}

.table td {
    color: #faebd7e3
}